.default-content-container{
    flex-direction: row;
}
.default-content-container-columm{
    flex-direction: column;
}

.content-container{
    padding: 0;
}

.group-child{
    width: 100%;
    
    padding: 2px;
    padding-right: 4px;
}

.unity-property-field__label{
    width: 110px;
    min-width: 110px;
    max-width: 110px;
    flex-grow: 1;
}