.default-content-container{
    /* Color is now set through script. */
}

.title-container{
    border-bottom-width: 1px;
    border-color: black;
    border-radius: 3px;

    background-color: rgba(0, 0, 0, 0.5);
}

.title-label{
    padding: 5px;
}
