.default-content-container{
    flex-direction: row;
}

.content-container{
    padding: 0;
}

.unity-property-field__label{
    width: 110px;
    min-width: 110px;
    max-width: 110px;
    flex-grow: 1;
}